<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find tackin_control)/config/grasper_control.yaml" command="load"/>

  <param name="robot_description" textfile="$(find tackin_description)/urdf/grasper.urdf"/>
  
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="shoulder_pan_joint_position_controller shoulder_lift_joint_position_controller elbow_joint_position_controller wrist_1_joint_position_controller wrist_2_joint_position_controller wrist_3_joint_position_controller H1_F1J1_joint_position_controller H1_F1J2_joint_position_controller H1_F1J3_joint_position_controller H1_F2J1_joint_position_controller H1_F2J2_joint_position_controller H1_F2J3_joint_position_controller H1_F3J1_joint_position_controller H1_F3J2_joint_position_controller H1_F3J3_joint_position_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <!--remap from="/joint_states" to="/tackin/joint_states" /-->
  </node>

</launch>
