<launch>
    <param name="robot_description" command="$(find xacro)/xacro '$(find test)/urdfs/3farm.urdf'" />
	
    <arg name="x" default="0"/>
    <arg name="x2" default="0.3"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
	
    <node name="model1_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
	args="-urdf -param robot_description -model model1 -x $(arg x) -y $(arg y) -z $(arg z)"/>

	<node name="model2_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
	args="-urdf -param robot_description -model model2 -x $(arg x2) -y $(arg y) -z $(arg z)"/>
	
</launch>
