<launch>
  <!-- Convert xacro and put on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro $(find test2_description)/urdf/test2.urdf.xacro" />

  <!--node pkg="rosservice" type="rosservice" name="delete_robot" args="call wait /gazebo/delete_model test2" /-->

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0 -y 0 -z 0.1 -model test2" />

</launch>