<launch>
  <!-- Convert xacro and put on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro $(find test2_gazebo)/models/bricks/$(arg model)/model.sdf" />
  <param name="robot_description2" command="$(find xacro)/xacro $(find test2_gazebo)/models/bricks/$(arg model2)/model.sdf" />
  <param name="robot_description3" command="$(find xacro)/xacro $(find test2_gazebo)/models/bricks/$(arg model3)/model.sdf" />
  <param name="robot_description4" command="$(find xacro)/xacro $(find test2_gazebo)/models/bricks/$(arg model4)/model.sdf" />
  <param name="robot_description5" command="$(find xacro)/xacro $(find test2_gazebo)/models/bricks/$(arg model5)/model.sdf" />
  <param name="robot_description6" command="$(find xacro)/xacro $(find test2_gazebo)/models/bricks/$(arg model6)/model.sdf" />
  <param name="robot_description7" command="$(find xacro)/xacro $(find test2_gazebo)/models/bricks/$(arg model7)/model.sdf" />
  <param name="robot_description8" command="$(find xacro)/xacro $(find test2_gazebo)/models/bricks/$(arg model8)/model.sdf" />
  <param name="robot_description9" command="$(find xacro)/xacro $(find test2_gazebo)/models/bricks/$(arg model9)/model.sdf" />
  <param name="robot_description10" command="$(find xacro)/xacro $(find test2_gazebo)/models/bricks/$(arg model10)/model.sdf" />

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model" args=" -sdf -param robot_description -model brick1
      -x $(arg x) -y $(arg y) -z 0 -Y $(arg Y)" />

  <node name="spawn_sdf2" pkg="gazebo_ros" type="spawn_model" args=" -sdf -param robot_description2 -model brick2
      -x $(arg x2) -y $(arg y2) -z 0 -Y $(arg 2)" />

  <node name="spawn_sdf2" pkg="gazebo_ros" type="spawn_model" args=" -sdf -param robot_description3 -model brick3
      -x $(arg x3) -y $(arg y3) -z 0 -Y $(arg Y3)" /> 

  <node name="spawn_sdf2" pkg="gazebo_ros" type="spawn_model" args=" -sdf -param robot_description4 -model brick4
      -x $(arg x4) -y $(arg y4) -z 0 -Y $(arg Y4)" /> 

  <node name="spawn_sdf2" pkg="gazebo_ros" type="spawn_model" args=" -sdf -param robot_description3 -model brick5
      -x $(arg x5) -y $(arg y5) -z 0 -Y $(arg Y5)" /> 

  <node name="spawn_sdf2" pkg="gazebo_ros" type="spawn_model" args=" -sdf -param robot_description3 -model brick3
      -x $(arg x3) -y $(arg y3) -z 0 -Y $(arg Y3)" /> 

  <node name="spawn_sdf2" pkg="gazebo_ros" type="spawn_model" args=" -sdf -param robot_description3 -model brick3
      -x $(arg x3) -y $(arg y3) -z 0 -Y $(arg Y3)" /> 

  <node name="spawn_sdf2" pkg="gazebo_ros" type="spawn_model" args=" -sdf -param robot_description3 -model brick3
      -x $(arg x3) -y $(arg y3) -z 0 -Y $(arg Y3)" /> 

  <node name="spawn_sdf2" pkg="gazebo_ros" type="spawn_model" args=" -sdf -param robot_description3 -model brick3
      -x $(arg x3) -y $(arg y3) -z 0 -Y $(arg Y3)" /> 

  <node name="spawn_sdf2" pkg="gazebo_ros" type="spawn_model" args=" -sdf -param robot_description3 -model brick3
      -x $(arg x3) -y $(arg y3) -z 0 -Y $(arg Y3)" /> 

</launch>


