<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find test2_control)/config/test2_control.yaml" command="load"/>

  <param name="robot_description" command="cat '$(find test2_description)/urdf/test2.urdf'" />

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" ns="/test2"
    output="screen" args="arm_controller gripper_controller joint_state_controller"/> 

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/test2/joint_states" />


    <!-- Given the published joint states, publish tf for the robot links -->
    <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" /-->

  </node>

</launch>
